## Excercise
In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

Answer
53713.86 and 93747.79

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n
import math

In [2]:
data = pd.read_csv("hiring.csv")
data.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [5]:
data.experience.fillna("zero",inplace=True)

In [6]:
data.experience = data.experience.apply(w2n.word_to_num)

In [9]:
data["test_score(out of 10)"] = data["test_score(out of 10)"].fillna(math.floor(data["test_score(out of 10)"].mean()))
data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [10]:
model = linear_model.LinearRegression()
model.fit(data[["experience","test_score(out of 10)", "interview_score(out of 10)"]], data["salary($)"])

LinearRegression()

In [11]:
model.predict([[2,9,6]])

array([53713.86677124])

In [12]:
model.predict([[12,10,10]])

array([93747.79628651])